<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container">
        <a class="navbar-brand fst-italic" href="#home">
            <img src="assets/images/logo.png" alt="Logo" height="26" class="d-inline-block align-text-top">
            Beatrix Potter
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="#gallery"><i class="fa-solid fa-image me-1"></i>Gallery</a>
                <a class="nav-link" href="#artwork"><i class="fa-solid fa-paint-brush me-1"></i>Artwork</a>
                <a class="nav-link" href="#biography"><i class="fa-solid fa-book-open me-1"></i>Biography</a>
            </div>
        </div>
    </div>
</nav>