    <section id="home" class="bg-info pt-5 pb-4">
        <div class="container text-center">
            <h1 class="display-3 fw-bold fst-italic">Beatrix Potter</h1>
            <p class="lead mt-3">Author · Illustrator · Naturalist · Farmer</p>
            <p class="col-lg-6 mx-auto mt-3">
                Creator of Peter Rabbit and beloved artist whose delicate watercolours
                have enchanted children and adults alike for over a century.
            </p>
        </div>
    </section>